/* Variables */
:root {
  --main-bg-color: #191924;
  --second-bg-color: #ffcf01;
  --second_bg_color_active: #ffcf0120;
  --base-bg-color: #1c1c27;
  --main-font: "Poppins", sans-serif;
}

/* Scroll */
::-webkit-scrollbar{
  width: 6px;
  height: 80px;
}

::-webkit-scrollbar-thumb{
  background: #575c66;
  border-radius: 5px;
}

::-webkit-scrollbar-track{
  background: #222A35;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

* {
  box-sizing: inherit;
  margin: 0;
  font-family: var(--main-font);
}

body {
  background-color: var(--base-bg-color);
}

.container {
  max-width: 120rem;
}

/* Navbar */
.container_navbar {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container_logo_links_github {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo a,
.links a,
.github a {
  color: #fff;
  text-decoration: none;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 800;
}

.links {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.links a {
  display: flex;
  align-items: center;
  height: 7.7rem;
  border-bottom: 3px solid transparent;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.github a {
  display: block;
  color: var(--second-bg-color);
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid var(--second-bg-color);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  transition: all 0.8s ease-in-out;
}

.github a:hover {
  color: var(--main-bg-color);
  background-color: var(--second-bg-color);
}

.links a:hover {
  color: var(--second-bg-color);
}

.links .active {
  color: var(--second-bg-color);
  border-bottom: 3px solid var(--second-bg-color);
}

/* about */
.container_about {
  background-color: #191924;
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
  margin-bottom: 3rem;
}

.container_presentation_profile {
  display: flex;
  width: 100%;
}

.presentation {
  width: 50%;
  color: #fff;
}

.presentation h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.presentation p:nth-child(2) {
  display: flex;
  gap: 1rem;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.presentation p:nth-child(2) span {
  color: var(--second-bg-color);
}

.presentation p:nth-child(3) {
  font-size: 2rem;
  color: grey;
  margin-bottom: 3rem;
}

.presentation a {
  display: block;
  width: 25rem;
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: var(--second-bg-color);
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--main-bg-color);
  transition: all 0.4s ease-in-out;
}

.presentation a:hover {
  outline: 2px solid var(--second-bg-color);
  color: #fff;
  background-color: transparent;
}

.profile_image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.profile_image img {
  border-radius: 50%;
}

/* Skills */

.section_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.container_all_skills {
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.section_skills h3,
.section_projects h3 {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.container_skill {
  width: 50rem;
  border: 1px solid var(--second-bg-color);
  box-shadow: rgba(255, 207, 1, 0.15) 0px 4px 24px;
  border-radius: 1.6rem;
  padding: 1.8rem 3.6rem;
}

.container_skill h4 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #b1b2b3;
  margin-bottom: 1.5rem;
}

.list_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.skill {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f2f3f480;
  padding: 1.2rem 1.6rem;
  border: 1px solid #f2f3f480;
  border-radius: 1.2rem;
  display: flex;
  gap: 8px;
}

.skill img {
  width: 2rem;
}

/* Projects */

/* Options */
.section_projects {    
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  clip-path: polygon(0px 5%, 100% 0px, 100% 100%, 0% 100%, 0% 0%);
  background-color: var(--main-bg-color);
}

.container_projects{    
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container_projects .options{
  display: flex;
  color: #fff;
  border: 1.5px solid var(--second-bg-color);
  border-radius: 12px;  
  font-size: 16px;
  color: var(--second-bg-color);
  font-weight: 500;
  margin-bottom: 3rem;
}

.container_projects .options .option:nth-child(1){
  border-left: none;    
}

.option{
  cursor: pointer;
  padding: 5px 20px;
  border-left: 1.5px solid var(--second-bg-color);
}

.option_active {
  background-color: var(--second_bg_color_active);
}

/* Container projects */
.projects{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

/* Card Project */
.card_project{  
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
  background-color: rgb(23, 23, 33);
  width: 330px;
  /* height: 490px; */
  padding: 2rem;  
  transition: all 0.5s ease-in-out;
}

.card_project:hover{
  box-shadow: rgba(100, 100, 100, 0.1) 0px 0px 12px 4px;
}

.card_project img{
   border-radius: 1rem;
  width: 100%;
  height: 180px;
  margin-bottom: 2rem;   
}

.card_project .technologies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  min-height: 9.4rem;
}

.card_project .technologies .technology{
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 1rem;
  background-color: #ffcf0115;
  color: var(--second-bg-color);
  max-height: 24.66px;
}

.card_project .description .title{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(177, 178, 179);  
}

.card_project .description .information{
  font-size: 15px;
  font-weight: 400;
  color: rgba(177, 178, 179, 0.6);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;  

  margin-bottom: 2.5rem;
}

.card_project .buttons{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card_project .buttons a{  
  padding: 5px 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 8px;
  font-weight: 600;
}

.card_project .buttons .view_code{
  background-color: rgb(28, 30, 39);
  color: rgb(177, 178, 179);
  transition: all 0.5s ease-in-out;
}

.card_project .buttons .view_live{
  color: var(--main-bg-color);
  background-color: var(--second-bg-color);
  transition: all 0.5s ease-in-out;
}

.card_project .buttons .view_code:hover,
.card_project .buttons .view_live:hover{
  background-color: var(--second_bg_color_active);
}

.card_project .buttons .view_live:hover{
  color: #fff;
}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  gap: 3rem;
}

.footer span:first-child{
  color: var(--second-bg-color);
  font-size: 2rem;
  font-weight: 600;
}

.footer .navbar_footer{
  display: flex;
  gap: 3rem;
}

.footer .navbar_footer a{
  text-decoration: none;
  font-size: 1.9rem;
  color: #fff;
}

.footer .navbar_footer a:hover{
  color: var(--second-bg-color);
}

.footer .socials{
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.footer a i{
  color: #fff;  
  font-size: 2.2rem;
  transition: all 0.2s ease-in-out;
}

.footer a i:hover{
  color: var(--second-bg-color);
}

.footer span:last-child{
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}